{# templates/frontoffice/programmationslist.html.twig #}

{% extends "frontoffice/userlayout.html.twig" %}

{% block title %}{{ parent() }} - programmations list{% endblock %}

{% block body %}

    <h1>Liste des programmations</h1>

    {% if programmationslist is not empty %}
	<table class="table">
     	    <thead>
     		<tr>
		<th>Circuit</th>
     		<th>Date de départ</th>
     		<th>Nombre de personnes</th>
     		<th>Prix</th>
     		</tr>
     	    </thead>
     	        {%  for programmation in programmationslist %}
     			<tr>
			<td><a href="{{ path('programmationshow', { 'id' : programmation.id })}}">{{ programmation.circuit.description }}</a></td>
     			<td>{{ programmation.dateDepart|date('d-m-Y')  }}</td>
     			<td>{{ programmation.nombrePersonnes }}</td>
     			<td>{{ programmation.prix }} €</td>
     			</tr>
     	        {% endfor %}
     	</table>
{#    
    {% else %}
        <p>Désolé il n'y a aucun voyage programmé pour le moment :(</p>
#}    
    {% endif %}

{% endblock %} {# body #}
